<?xml version="1.0"?>
<robot name="antobot_robot">
    <link name="base_link"/>
    <link name="robot_base_link"/>
    <link name="laser_link_front_static"/>
    <link name="laser_link_front"/>
    <link name="gps_frame"/>
    <link name="imu"/>

    <joint name="base_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <child link="robot_base_link"/>
        <parent link="base_link"/>
    </joint>
    <joint name="laser_scanner_joint_head" type="fixed">
        <origin xyz="0.56 -0.0088  0.0" rpy="0.0 0.0 0.0"/>
        <child link="laser_link_front_static"/>
        <parent link="robot_base_link"/>
    </joint>
    <joint name="head_laser_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <child link="laser_link_front"/>
        <parent link="laser_link_front_static"/>
    </joint>
    <joint name="gps_joint" type="fixed">
        <origin xyz="0.38 0.001 0.0" rpy="0.0 0.0 0.0"/>
        <child link="gps_frame"/>
        <parent link="robot_base_link"/>
    </joint>
    <joint name="imu_joint" type="fixed">
            <origin xyz="0.00 0.000 0.0" rpy="0.0 0.0 0.0"/>
            <child link="imu"/>
            <parent link="robot_base_link"/>
    </joint>

</robot>
